<p>Hola <%= @client.full_name %>, env&iacute;o el detalle de uso de la consulta para el mes de <%= @dates.first.begining.strftime("%b/%Y") %>.</p>

<ul>
<% @dates.each do |date| %>
	<li><%= date.begining.strftime("%e %b %Y %H:%M")  %></li>
<% end %>
</ul>

<p>Total: $<%= number_to_currency(@total_ammount, precision: 0, delimiter: '.', unit: '') %></p>

<p>Muchas gracias.</p>


