
<% @calendars.each do |calendar| %>


<div class="row col-lg-6 col-xs-12">
    <h1><%= calendar.name %></h1>
    <p><%= link_to 'Nuevo cliente', new_calendar_client_path(calendar) %></p>
	<table class="table table-striped">
    	<% calendar.clients.each do |client| %>
    		<tr>
    		    <td><%= render "calendars/client", :client => client %></td>
		    </tr>
    	<% end %>
    </table>


</div>

<% end %>
